{% extends "base.html" %}

{% block title %}Home - BlogWriters{% endblock %}

{% block content %}
<div class="row">
    {% for blog in blogs %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow">
            <div class="card-body">
                <a href="{% url 'BlogDetail' blog.id %}" class="text-dark text-decoration-none">
                    <h5 class="card-title">{{ blog.title }}</h5>
                </a>
                <p class="text-muted">By {{ blog.author.username }} | {{ blog.reading_time }} min read</p>
                <p class="card-text">{{ blog.content|truncatewords:20 }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
